//Text
$label_accent-1: #1CF1FF;
$label_accent-2: #FFB876;
$label_accent-3: #FF93C0;
$label_light: #FFFFFF;
$label_body: #A09DD2;

//Background
$bg_primary: #171624;

$cta_button: #F8326D;

$surfaces_line: #282842;