.services-block {
  background-color: $bg_primary;
  padding: 100px 0 50px;

  @media screen and (min-width: $tablet-min-screen) {
    padding: 140px 0 70px;
  }

  &__wrapper {
    display: flex;
    gap: 60px;
    flex-direction: column-reverse;
    align-items: center;

    @media screen and (min-width: $tablet-min-screen) {
      flex-direction: row;
      align-items: flex-start;
      gap: 80px;
    }

    @media screen and (min-width: $desktop-min-screen) {
      gap: 120px;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    width: 100%;
    max-width: 474px;

    @media screen and (min-width: $tablet-min-screen) {
      width: calc(50% - 40px);
    }

    @media screen and (min-width: $desktop-min-screen) {
      max-width: 720px;
      width: 100%;
    }

      .service-card {
      z-index: 10;

      &:nth-child(3) {
        flex: 1 0 100%;
      }
    }
  }

  &__element{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 320px;
    height: 320px;
    transform: translate(-50%, -50%);
  }


  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;

    @media screen and (min-width: $tablet-min-screen) {
      width: calc(50% - 40px);
      align-items: flex-start;
      text-align: left;
    }

    @media screen and (min-width: $desktop-min-screen) {
      width: 100%;
      min-width: 360px;

    }
  }

  &__title {
    margin-bottom: 20px;
  }
  &__subtitle {
    color: $label_accent-1;
    margin-bottom: 20px;
  }

  &__text {
    margin-bottom: 60px;
    text-align: center;

    @media screen and (min-width: $tablet-min-screen) {
      text-align: left;
    }

    p{
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

}


@mixin apply-color($color) {
  .service-card__icon svg path:first-child {
    fill: $color;
  }

  .service-card__title {
    color: $color;
  }
}


.service-card {
  flex: 1 0 100%;
  position: relative;
  padding: 40px;
  background: linear-gradient(216.8deg, rgba(41, 39, 70, 0.2) 5.55%, rgba(56, 54, 99, 0.2) 98.31%);
  border-radius: 16px;
  color: $label_light;
  backdrop-filter: blur(30px);

  @media screen and (min-width: $desktop-min-screen) {
    flex: 1 0 calc(50% - 10px);

  }

  &__icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
  }

  &__title {
    font-weight: 700;
    color: $label_accent-2;
    font-size: 20px;
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }


  &--accent1 {
    @include apply-color($label_accent-1);
  }

  &--accent2 {
    @include apply-color($label_accent-2);
  }

  &--accent3 {
    @include apply-color($label_accent-3);
  }
}

